.header {
    background-color: #d9f0e1;
    border-bottom: 20px solid #8cc8a1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__esquerda {
    display: flex;
    align-items: center;
}
img{
    width: 50px;
    
}
#titulo{
    padding-left: 40px;
    color: green;
    font-size: 25px;
}
.paragrafo {
    align-items: center;
    padding-left: 40px;
    margin-bottom: 4px;
}
.paragrafo h2{
    margin-bottom: 4px;
}
.paragrafo p{
    margin-top: 0;
}