

body{
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    height: 100vh;
}


#header{
    padding: 20px 40px;
}

.logo{
    color: #ff7a00
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
}

.login h2{ 
    text-align: center;
    margin-bottom: 20px;
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #2b2b2b;
    border: none;
    border-radius: 4px; 
    color: #fff;
}