/* Estilos Globais */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    height: 100vh;
    background-image: url("Fluxo_logo.webp");
    background-size: cover;        
    background-position: center -50px;
    background-repeat: no-repeat;  
    min-height: 100vh;
}

/* Header e Ajustes na logo (parte de cima) */
#header {
    padding: 30px 40px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    color: #ff7a00;
    font-size: 36px;
    font-weight: 700;
}

.logo-tv {
    color: #fff;     
}

.principal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.75);
    padding-bottom: 25px;
    padding-top: 220px;
}

/* PARTE DO LOGIN */
.login {
    background-color: black; 
    padding: 32px;
    border-radius: 8px;
    width: 360px; 
    display: flex;
    flex-direction: column;
}

.login h2 { 
    text-align: center;
    margin-bottom: 20px;
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #2b2b2b;
    border: none;
    border-radius: 4px; 
    color: #fff;
}

.botao_login {
    width: 100%;
    padding: 10px; 
    background-color: #ff7a00;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px; 
}

.acoes-login {
    width: 100%;
    display: flex;
    flex-direction: column; /* Um embaixo do outro */
    align-items: flex-start; 
    margin-bottom: 25px;
}

.lembrar {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 8px; /* Espaçamento entre o check e o link */
    cursor: pointer;
}

.lembrar input[type="checkbox"] {
    transform: scale(1.2); 
    margin-right: 10px;
    cursor: pointer;
}

.esqueci-senha {
    color: #ff7a00; 
    text-decoration: none;
    font-size: 13px;
    margin-left: 85px; 
}

.esqueci-senha:hover {
    text-decoration: underline;
}

.signup {
    font-size: 13px;
    margin-bottom: 15px;
}

.signup a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* DESCRICAO */
.descricao-container {
    margin-top: 30px;
    border-top: 1px solid #333; 
    padding-top: 15px;
}

.descricao-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
}

details[open] .seta {
    transform: rotate(180deg);
}

.seta {
    font-size: 10px;
    color: #fff;

}

.descricao-texto {
    font-size: 13px;
    line-height: 1.5;
    color: #a3a3a3; 
    text-align: justify;
    margin-top: 10px;
}

/* FOOTER */
.footer {
    
    border-top: 1px solid #333;
    
    background-color: rgba(0, 0, 0, 0.85);
    color: #b3b3b3;
    padding: 40px 60px;
    font-size: 14px;
}

.duvidas{
    display: block;
    margin-bottom: 25px;
    color: #b3b3b3;
}

.footer-links {
    list-style: none;
    display: flex;       
    flex-wrap: wrap;     
    gap: 40px;           
    padding: 0;
    margin: 0;
}

.footer-links a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 13px;
}