* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    height: 100vh;


    background-image: url("Fluxo_logo.webp");
    background-size: cover;        
    background-position: center;  
    background-repeat: no-repeat;  
    background-position: center -150px;
}


#header{
    padding: 30px 40px;
}

.logo{
    font-family: 'Montserrat', sans-serif;
    color: #ff7a00;
    font-size: 36px;
    font-weight: 700;
}
.logo-tv {
    color: #fff;     
}
.principal{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    
    background-color: rgba(0, 0, 0, 0.75);
    padding-bottom: 200px;
    padding-top: 220px;
}

/*PARTE DO LOGIN */
.login {
    background-color: black; 
    padding: 32px;
    border-radius: 8px;
    width: 360px;

    display: flex;
    flex-direction: column;
}

.login h2{ 
    text-align: center;
    margin-bottom: 20px;
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #2b2b2b;
    border: none;
    border-radius: 4px; 
    color: #fff;
}
.botao_login{
    width: 100%;
    padding: 10px; 
    background-color: #ff7a00;

    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    
    margin-bottom: 20px;
}

.acoes-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 15px;
    justify-content: space-between;
}
.esqueci-senha {
    color: #ff7a00; 
    text-decoration: none;
    font-size: 13px;
}
.esqueci-senha:hover {
    text-decoration: underline;
}
.lembrar {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 14px;
    cursor: pointer;
}

.login_opcoes a {
    color: #eeece9;
    text-decoration: none;
}

.signup {
    font-size: 13px;
    margin-bottom: 15px;
}

.signup a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.lembrar input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 6px;
    cursor: pointer;
}

.descricao-container {
    margin-top: 30px;
    border-top: 1px solid #333; 
    padding-top: 15px;
}

.descricao-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
}

.seta {
    font-size: 10px;
    color: #fff;
}

.descricao-texto {
    font-size: 13px;
    line-height: 1.5;
    color: #a3a3a3; 
    text-align: justify;
}

/* Parte de baixo */
.footer {
    background-color: rgba(0, 0, 0, 0.85);
    color: #b3b3b3;
    padding: 40px 60px;
    font-size: 14px;
}

.duvidas {
    margin-bottom: 20px;
}

.duvidas a {
    color: #fff;
    text-decoration: none;
}

.footer-links {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 40px;
    padding: 0;
    margin: 0;
}

.footer-links a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 13px;
}

.footer-links a:hover {
    text-decoration: underline;
}
